﻿@charset "utf-8";
/*
    添加奖项 组件
    by刘煜
*/

.add_awards .add {
    padding: 40px 132px;
    text-align: center;
    width: 444px;
    border: 2px dashed #799dcf;
}

.add_awards .add .message {
    padding-left: 38px;
    margin-bottom: 24px;
    line-height: 28px;
    background: url("../images/icon_alert.png") no-repeat;
}

.add_awards .adding {
    margin-top: 10px;
    padding: 30px;
    width: 650px;
    border: 1px solid #aeaeae;
}

.add_awards .adding .content {
    margin-bottom: 20px;
    height: 350px;/*仅供演示、占位*/
    background: #202020;/*仅供演示、占位*/
}

.add_awards .adding .confirm {
    margin-right: 10px;
}

.add_awards .added {
    margin-top: 10px;
    padding: 14px 0 14px 20px;
    width: 690px;
    border: 1px solid #c7c7c7;
    border-top: 2px solid #799dcf;
    background: #f8f8f8;
    font: normal 14px/27px SimSun,serif;
    color: #222;
}

.add_awards .added p.line1 {
    margin-bottom: 6px;
    line-height: 24px;
}

.add_awards .added span {
    line-height: 27px;
}

.add_awards .added span.money {
    float: right;
}

.add_awards .added span.money em {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #c00;
}

.add_awards .added a {
    float: right;
    display: inline-block;
    width: 22px;
    height: 27px;
    background: url("../images/icon_edit_cancle.png");
}

.add_awards .added a.edit {
    margin-left: 22px;
    background-position: 0 0;
}

.add_awards .added a.edit:hover {
    background-position: 0 -30px;
}

.add_awards .added a.cancle {
    margin-right: 6px;
    margin-left: 10px;
    background-position: -32px 0;
}

.add_awards .added a.cancle:hover {
    background-position: -32px -30px;
}
