@charset "utf-8";
/*
    确认协议 组件
    by刘煜
*/

.agreement {
    border: 1px solid #b1b1b1;
    width: 980px;
    padding: 0 80px 30px;
}

.agreement h1 {
    margin: 18px 0;
    font: bold 24px/35px "Microsoft YaHei",sans-serif;
    height: 35px;
    text-align: center;
    color: #333;
    overflow: hidden;
}

.agreement .separator {
    border-top: 1px dashed #e3e3e3;
}

.agreement p {
    font-family: SimSun, serif;
    font-size: 15px;
    color: #555;
}

.agreement p.preface {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 19px;
    height: 19px;
    overflow: hidden;
}

.agreement .definition .party_ab {
    margin-bottom: 60px;
    font-family: SimSun, serif;
}

.agreement .definition .party_ab h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
    height: 21px;
}

.agreement .definition .party_ab p {
    margin: 0;
    color: #333;
    line-height: 28px;
    height: 28px;
}

.agreement p.body_texts {
    margin: 30px 0;
    line-height: 28px;
    word-break: break-all;
}