.avatar_wraper{background: #fff;border:1px solid #ddd;border-radius: 3px 0 0 3px; width: 168px; line-height: 14px; height: 32px;padding: 3px 10px 3px 4px; }
.avatar_wraper:hover{background: #eee;cursor: pointer;}
.avatar_wraper .ava_img{width: 32px;height: 32px;border-radius: 3px;}
.avatar_wraper .tips{margin-left: 8px;height: 32px;width: 119px;}
.avatar_wraper .tips .tipone{height: 17px;margin-bottom: 1px;font-size: 0}
.avatar_wraper .tips .tipone .name{font:bold 12px 'Microsoft YaHei';color: #3262a2;line-height: 14px;vertical-align: middle;}
.avatar_wraper .tips .tipone .level{margin-left: 8px;display: inline-block;line-height: 14px;vertical-align: middle;}
.avatar_wraper .tips .tipone .level .icon{background: url(../images/icon_level.png);width: 26px;height: 7px;}
.avatar_wraper .tips .tipone .level .bar{width: 26px;height: 2px;background: #c4c4c4;margin-top: 1px;}
.avatar_wraper .tips .tipone .level .bar .process{height: 2px;background: #6baa5a}
.avatar_wraper .tips .tiptwo{height: 14px;}
.avatar_wraper .tips .tiptwo .tip_icon{width: 14px;height: 14px;}
.avatar_wraper .tips .tiptwo .ccznum{font-size: 12px;color: #bbb;margin-left: 8px;display: block;height: 14px;}
.avatar_wraper .drop{height: 32px;width: 9px;line-height: 32px;}
.avatar_wraper .drop .drop_icon{width: 9px;height: 6px;background: url(../images/icon_dropdown.png);display: inline-block;vertical-align: middle;}