html,body{ word-break:break-all; word-wrap:break-word; color:#333;font-family: "Arial","SimSun";font-size: 14px; color: #222;height: 100%;}
*{outline:none;}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom:1;}
.clear{ clear: both;}
/*左右浮动*/
.fl{ float: left;}
.fr{ float: right;}
.fn{ float: none;}
/*居左右中*/
.tl{ text-align: left}
.tc{ text-align: center;}
.tr{ text-align: right;}
/*常用宽度*/
.w1200 { width: 1200px; margin: 0 auto}
.w1180 { width: 1180px; margin: 0 auto}
.w980 { width: 980px; margin: 0 auto}
/*链接通用颜色*/
a{ color: #3262A2; text-decoration: none}
a:hover{ text-decoration: none;}
/*输入框*/
input[type="text"],input[type="password"] { padding: 0 8px; border:1px solid #999; height: 37px; resize:none; color: #444; box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.2); box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; transition: all 0.3s; }
input[type="text"]:focus,input[type="password"]:focus{ border-color: #555; transition: all 0.3s;} 
input[type="text"].disabled,input[type="password"].disabled{ background: #e8e8e8;}
textarea {border: 1px solid #ddd; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;  resize:none; border-color: #999 }
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
/*间隔*/
.height_10,.height_20,.height_30,.height_30,.height_60,.height_170{width: 100%; clear: both; overflow: hidden;}
.height_10{ height: 10px;}
.height_20{ height: 20px;}
.height_30{ height: 30px;}
.height_60{ height: 60px;}
.height_170{ height: 170px;}
/*常用属性*/
.hide { display: none!important}
.ib { display: inline-block;}