@charset "utf-8";
/*
    所有按钮 组件
    by刘煜
*/

.btn {
    display: inline-block;
    height: 43px;
    border-radius: 2px;
    font: bold 16px/43px SimSun,serif;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    min-width: 67px;
    max-width: 573px;
    background: url("../images/btn.png") no-repeat;
}

.deepblue {padding-right:24px; background-position: 100% 0;}
.deepblue_l {padding-left:24px; background-position: 0 0;}
.deepblue:hover {background-position: 100% -48px;}
.deepblue:hover .deepblue_l {background-position: 0 -48px;}

.deepgrey {padding-right:24px; background-position: 100% -100px;}
.deepgrey_l {padding-left:24px; color: #222; background-position: 0 -100px;}
.deepgrey:hover {background-position: 100% -150px;}
.deepgrey:hover .deepgrey_l {background-position: 0 -150px;}

.lightblue {padding-right:24px; background-position: 100% -232px;}
.lightblue_l {padding-left:24px; font-size:13px; color: #356CBE; background-position: 0 -232px;}
.lightblue:hover {background-position: 100% -282px;}
.lightblue:hover .lightblue_l {background-position: 0 -282px;}

.lightgrey {
    padding-right:24px;
    max-width: 199px;
    min-width: 55px;
    line-height:37px;
    height:37px;
    background-position: 100% -343px;
}
.lightgrey_l {
    padding-left:24px;
    max-width: 199px;
    min-width: 55px;
    line-height:37px;
    height:37px;
    font-size: 14px;
    font-weight: normal;
    color:#222;
    background-position: 0 -343px;
}
.lightgrey:hover {background-position: 100% -393px;}
.lightgrey:hover .lightgrey_l {background-position: 0 -393px;}

.form_upload_btn p.left {
    float: left;
    font: normal 14px/37px SimSun,serif;
}

.form_upload_btn .upload_btn {
    padding-left: 50px;
}

.form_upload_btn .upload_btn p.behind {
    font: normal 12px/23px SimSun,serif;
    color: #777;
}