.cczprompt_wraper{
    border: 1px solid #ddd;
    width: 607px;
    padding: 23px 29px 30px 29px;
    position: relative;
}
.cczprompt_wraper .tip{
    height: 27px;
    color: #0d61b0;
    font: bold 12px 'Microsoft YaHei';
    line-height: 27px;
    padding: 0 10px;
    background: #fff;
    position: absolute;
    left: 50px;
    top:10px;
}
.cczprompt_wraper .cczprompt_li{
    border: 1px dotted #cdcdcd;
    padding: 12px 30px 32px 30px;
    color: #5a5a5a;
    width:545px;
}
.cczprompt_wraper .cczprompt_li a{
    border: 1px solid #bbb;
    font-size: 12px;
    float:left;
    width: 90px;
    line-height: 33px;
    color: #555;
    margin-left: 59px;
    margin-top: 10px;
    cursor: pointer;
}
.cczprompt_wraper .cczprompt_li a.active{
    background: #b4b4b4;
    color: #fff;
}
.cczprompt_wraper .cczprompt_li .linefirst{
    margin-left: 0;
}
.cczprompt_wraper .cczonce_wraper{
    height: 35px;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50px;
    background: #fff;
    padding: 0 10px;
}
.cczprompt_wraper .cczonce_wraper .cczonce{
    cursor: pointer;
    border-radius:3px;
    background: #bbbbbd;
    color: #fff;
    display: inline-block;
    font: bold 12px 'Microsoft YaHei';
    line-height: 35px;
    width: 115px;
}
.cczprompt_wraper .cczonce_wraper .cczonce.active{
    background: #3c5593;
}