@charset "utf-8";
/*
    用户头像下拉菜单 组件
    by刘煜
*/

.Login, .notLogin {
    padding: 0 12px;
    width: 158px;
    border: 1px solid #ccc;
    background: #fff;
}

.user_data {
    padding: 7px 0 3px;
    border-bottom: 1px solid #ccc;
}

.user_data dl {
    margin-bottom: 4px;
    font: normal 12px/23px SimSun,serif;
    color: #555;
}

.user_data dl dt {
    float: left;
}

.user_data dl dd {
    float: right;
    line-height: 23px;
}

.user_data dl dd a {
    font: bold 14px/23px Arial,sans-serif;
    color: #ff4400;
    margin-right: 6px;
}

.user_data dl dd a:hover {
    text-decoration: underline;
}

.Login .user_btn_logout, .notLogin .login_logout {
    padding: 10px 0;
}

.Login .user_btn_logout .btn {
    text-align: center;
    margin-bottom: 10px;
}

.Login .user_btn_logout .btn a {
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    background: #eee;
    display: inline-block;
    text-align: center;
    font: normal 12px/21px SimSun, serif;
    color: #555;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
}

.Login .user_btn_logout .btn a:hover {
    color: #fff;
    background: #3c5593;
    border-color: #3c5593;
}

.Login .user_btn_logout .btn a.FriendCircle {
    width: 28.481012%;
}

.Login .user_btn_logout .btn a.UserHomePage {
    width: 36.075949%;
}

.Login .user_btn_logout .btn a.Settings {
    width: 26.582278%;
}

.Login .user_btn_logout .logout {
    float: right;
    font: normal 12px/17px SimSun,serif;
    color: #555;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.Login .user_btn_logout .logout:hover {
    color: #3262a2;
}

.notLogin .login_logout a {
    display: block;
    border-radius: 3px;
    background: #4a64a3;
    color: #fff;
    text-align: center;
    font: normal 12px/33px SimSun,serif;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
}

.notLogin .login_logout a:hover {
    background: #6781c2;
}

.notLogin .login_logout a.login {
    margin-bottom: 10px;
}
