.feedback_wraper{
    width: 900px;
}
.feedback_wraper .greet{
    line-height: 25px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 9px;
}
.feedback_wraper .greet em{
    color: #990000;
    font-weight: bold;
}
.feedback_wraper .tip{
    line-height: 26px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
}
.feedback_wraper .content{
    border: 1px solid #ddd;
    background: #f4f4f4;
    padding: 15px 18px 20px 18px;
    margin-top: 15px;
}
.feedback_wraper .content p{
    line-height: 25px;
    margin-bottom: 4px;
}
.feedback_wraper .content textarea{
    width: 520px;
    height: 245px;
    margin-bottom: 7px;
    overflow:auto;
}
.feedback_wraper .content .pub_state{
    cursor: pointer;
    border-radius:3px;
    background: #bbbbbd;
    color: #fff;
    display:block;
    font: bold 12px 'Microsoft YaHei';
    line-height: 35px;
    width: 115px;
}
.feedback_wraper .content .pub_state.active{
    background: #3c5593;
}
