.fpwd_wraper{
    border: 3px #adc7ec solid;
    padding: 51px 80px 30px 80px;
}
.fpwd_wraper{
    display: inline-block;
}
.fpwd_wraper .tips{
    background: url(../images/icon_right.png) no-repeat;
    padding-left: 60px;
    overflow: auto;
}
.fpwd_wraper .tips p{
    font: bold 22px Microsoft YaHei;
    line-height: 31px;
    color: #222;
}
.fpwd_wraper .tips small{
    font: normal 12px Arial;
    line-height: 19px;
    color: #777;
}
.fpwd_wraper .operate{
    text-align: center;
    height: 43px;
    overflow: hidden;
}

.prepare_send_email .cc_number {
    margin: 20px;
}

.prepare_send_email .user_email {
    margin: 20px;
}

.prepare_send_email label {
    float:left;
    height:37px;
    line-height:37px;
    font-size:14px;
    color:#222222;
    margin-right:10px;
    text-align: right;
}

.prepare_send_email p {
    height: 37px;
    font: bold 16px/37px tahoma,sans-serif;
    color: #ff6600;
}

.prepare_send_email a {
    margin-left: 72px;
}