@charset "utf-8";
/*
    底部信息 组件
    by刘煜
*/
#wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    _height: 100%;
}

#footerPusher, #footer {
    clear:both;
    height: 111px; /* footer 的高度 */
}

#footer {
    position: relative;
    margin: -111px auto auto auto; /* footer 高度的负值 */
}

#footer .footerContent {
    position: relative;
    margin: 0 auto;
    padding: 9px 0 7px;
    width: 1180px;
    border-top: 2px solid #4764ad;
}

#footer .info p {
    line-height: 18px;
    padding-bottom: 8px;
}

#footer .links a{
    color: #555;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-right: 31px;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
}

#footer .links a:hover {
    color: #4764ad;
}

#footer .copyright {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #9c9c9c;
}

#footer .copyright a{
    color: #8e8e8e;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
}

#footer .copyright a:hover{
    color: #4764ad;
}

#footer .footer_info {
    padding-right: 156px;
}

#footer .certificate {
    display: block;
}

#footer .certificate a {
    float: left;
    display: inline;
    height: 40px;
    margin-right: 15px;
    background: url("../images/icon_certificate/certificates.png") no-repeat;
}

#footer .certificate a.kbq1 {
    width: 40px;
    background-position: 5px 1px;
}

#footer .certificate a.kbq2 {
    width: 33px;
    background-position: -40px 1px;
}

#footer .certificate a.kbq3 {
    width: 50px;
    background-position: -81px 1px;
}

#footer .certificate a.kbq4 {
    width: 83px;
    background-position: -140px 1px;
}

#footer .certificate a.kbq5 {
    width: 94px;
    background-position: -240px 1px;
}

#footer .QR_code {
    position: absolute;
    right: 0;
    top: 10px;
    width: 156px;
    height: 78px;
    background: url("../images/wechat_qr_code.jpg") no-repeat;
}