/**	
 * Form表单样式
 * auther:liyonggang;
 */
.row{ margin-bottom: 24px; *zoom:1;}
.row:before, .row:after {content: "";display: table;}
.row:after {clear: both;}
.row .rt,.row .rc{ float: left; }
.row .rt { min-height: 37px; line-height: 37px; width: 72px; text-align: right;}
.row .rc { margin-left: 8px;}
.row .rc .con { font-size: 0; }/*解决inline-block的前面空格*/
.row .rc .con * { font-size: 14px; letter-spacing: normal;}
@media all and (-webkit-min-device-pixel-ratio:0){
.row .rc .con { letter-spacing: -4px}/*safari Hack,解决inline-block的前面空格*/
}
.row .rc input[type="text"],.row .rc input[type="password"]{ line-height: 37px\9; width: 260px; vertical-align: middle; font-size: 14px; letter-spacing: 0px;}
.row .rc .des { margin-left: 10px; line-height: 37px; vertical-align: middle; display: inline-block; font-size: 14px ;letter-spacing: 0;}
.row .rc .illus { clear: both; font-size:12px; color: #666; line-height: 23px; letter-spacing: 0px;}
.row .rc .illus .ibox { padding:10px 14px; width: 280px; border: 1px solid #ffbebc; background: #fff1f1; color: #666}
.row .rc .illus .ibox .t { margin-bottom: 3px; height: 18px; line-height: 18px;}
.row .rc .illus .ibox .c { line-height: 18px;}

.row .rc .item { display: inline-block; height: 37px; margin-right: 30px; vertical-align: middle}
.row .rc .item input,.row .rc .item label { display: inline-block; line-height: 37px; vertical-align: middle;}
.row .rc .item label { padding-left: 8px;}
.row .rc .inact .ibox { padding:10px 14px; width: 280px; border: 1px solid #999; background: #f4f4f4; color: #666; font-size: 12px;}
.Validform_checktip { margin-left: 8px; display: inline-block; vertical-align: middle; height: 37px; padding-left: 23px; line-height: 36px; font-size: 12px!important; color: #ccc; letter-spacing: 0px;}

.row .rc .verMsg{ margin-left: 10px; display: inline-block; vertical-align: middle; height: 37px; padding-left: 23px; background: url(../images/icon_verify.png) 0 10px no-repeat; line-height: 36px; font-size: 12px;}
.row .rc .verMsg.error,.Validform_wrong { background: url(../images/icon_verify.png) 0 -27px no-repeat; color: #d15552}
.Validform_right { background: url(../images/icon_verify.png) 0 10px no-repeat; color: #15B260}
#Validform_msg { display: none}