.friendlist_wraper{width: 338px;border:1px solid #ccc;}
.friendlist_wraper .friendlist{margin: 4px; background: #f0f0f0; padding-right: 10px;}
.friendlist_wraper .friendlist .friendlink{display: block; line-height: 52px; height: 52px; font-size: 0; }
.friendlist_wraper .friendlist:hover{background: #eee}
.friendlist_wraper .friendlist:hover .friendlink{background: url(../images/icon_arrow_right.png) no-repeat; background-position: right center;}
.friendlist_wraper .friendlist .friendlink .avatar_wraper{display: inline-block; vertical-align: middle; border: none;background: none; border-radius: 0; height: 32px; padding: 0; margin-left: 10px;}
.friendlist_wraper .friendlist .friendlink .avatar_wraper .name{color: #444; font-weight: normal;}
.friendlist_wraper .friendlist .friendlink .promptnum{float: right; margin-top: 18px; margin-right: 30px; font-size: 12px; font-weight: bold; display: inline-block; height: 15px; line-height: 15px; padding: 0 4px; border-radius: 7px; text-align: center; color: #fff; background: #cd0000; }
.friendlist_wraper .friendlist.checkmore{padding: 0}
.friendlist_wraper .friendlist .friend_checkmore{display: block; line-height: 37px; height: 37px; font-size: 12px; text-align: center;}
.friendlist_wraper .friendlist:hover .friend_checkmore{background: #4764ad; color: #fff;}