@charset "utf-8";
/*
    好友和提示信息 组件
    by刘煜
*/

.FriendsAlerts {
    padding: 6px 0 10px 0;
    width: 116px;
    height: 44px;
}

.FriendsAlerts a {
    position: relative;
    float: left;
    display: block;
    padding: 4px 8px 0 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("../images/friends_alerts.png") no-repeat;
}

.FriendsAlerts .friends {
    background-position: 0 4px;
}

.FriendsAlerts .friends:hover,.FriendsAlerts .friends.on {
    background-position: 0 -46px;
}

.FriendsAlerts .alerts {
    background-position: -50px 4px;
}

.FriendsAlerts .alerts:hover,.FriendsAlerts .alerts.on {
    background-position: -50px -46px;
}

.FriendsAlerts a i {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 9px;
    padding: 3px 4px;
    border-radius: 8px;
    background: #cd0000;
    color: #fff;
    font: bold 12px/9px Arial,sans-serif;
}