/** 
 * 网站顶部布局
 * auther:liyonggang;
 */
.header-wrap { height: 61px; background: url(../images/bg_header.png) repeat-x;}
.header { position: relative; margin: 0 auto; width: 1180px; height: 60px; background-color:#3c5593}
.header .side { display: block; position: absolute; top: 0; width: 3px; height: 61px; background: url(../images/bg_header_side.png) no-repeat;}
.header .side.ls { left:-2px; background-position: 0 0 }
.header .side.rs { right:-2px; background-position: -9px 0}
.header .logo { float: left; margin: 9px 0 0 14px; width: 148px; height: 44px; background: url(../images/logo.png) no-repeat;}
.header .logo a{ display: block; height: 100%; text-indent: -9999px;}
.header .head-search { float: left; margin: 10px 0 0 16px; width: 850px; height: 40px; background: #fff; border-radius: 4px;}
.header .head-search-box { float: left; position: relative;}
.header .head-search-text { display: block; margin-top: 2px; width: 665px; border: none; box-shadow: none}
.header .head-ccz { position: relative;}
.header .head-ccz .login-info { display: none; position: absolute; left:0; top:39px; z-index: 999;}
.header .head-ccz:hover .avatar_wraper{background: #eee;cursor: pointer;}

.header .head-search-box .cczprompt_wraper,.header .head-search-box .search_result { display: none; position: absolute; left: -1px; top: 40px; background: #fff}

.header .head-friends { float: left; position: relative; margin-left: 30px;}
.header .friendlist_wraper,.header .infolist_wraper { position: absolute; display: none; top: 61px; right: -6px; background: #fff}
