.infolist_wraper{width: 338px;border:1px solid #ccc;}
.infolist_wraper .infolist{margin: 4px; background: #f0f0f0; padding-right: 10px;}
.infolist_wraper .infolist .infolink{display: block; line-height: 48px; height: 48px; font-size: 0; }
.infolist_wraper .infolist:hover{background: #eee}
.infolist_wraper .infolist:hover .infolink{background: url(../images/icon_arrow_right.png) no-repeat; background-position: right center;}
.infolist_wraper .infolist .infolink .info_icon{width: 16px; height: 16px; margin: 0 10px; display: inline-block; vertical-align:-4px;}
.infolist_wraper .infolist .infolink .info_tip{font-size: 12px; margin-right: 7px;}
.infolist_wraper .infolist .infolink .info_tip.color_blue{color:#3c5593}
.infolist_wraper .infolist .infolink .info_tip.color_red{color:#ba5353}
.infolist_wraper .infolist .infolink .info_tip.color_black{color:#333}
.infolist_wraper .infolist .infolink .info_tip.weight_bold{font-weight: bold}
.infolist_wraper .infolist .infolink .info_tip:last-child{margin-right: 0}
.infolist_wraper .infolist .info_checkmore{display: block; line-height: 37px; height: 37px; font-size: 12px; text-align: center;}
.infolist_wraper .infolist.checkmore{padding: 0}
.infolist_wraper .infolist:hover .info_checkmore{background: #4764ad; color: #fff;}