.infocenter_wraper{width: 1180px;}
.infocenter_wraper .infolist_wraper{float: left; width: 788px; border: 1px solid #ccc;}
.infocenter_wraper .infolist_wraper ul{padding-bottom: 10px;}
.infocenter_wraper .infolist_wraper .paging{margin: 20px 0 30px 0}
.infocenter_wraper .infolist_wraper .infohead{margin: 0 30px; line-height: 55px; height: 55px; font-size: 0px;}
.infocenter_wraper .infolist_wraper .infohead .infotitle{font:bold 15px 'Microsoft YaHei'; display: inline-block; vertical-align: middle;}
.infocenter_wraper .infolist_wraper .infohead .infobtn{font-size: 12px; color: #444; display: inline-block; float: right; height: 25px; line-height: 25px; width: 39px; text-align: center; border-radius: 2px; margin-top: 15px;}
.infocenter_wraper .infolist_wraper .infohead .infobtn.active{color: #777}
.infocenter_wraper .infolist_wraper .infohead .infobtn:hover{background: #3b5592; color: #fff}
.infocenter_wraper .infolist_wraper .infolist{margin: 0 30px 10px 30px; background: #f0f0f0;}
.infocenter_wraper .infolist_wraper .infolist .infolink{display: block; line-height: 48px; height: 48px; font-size: 0; padding: 0 20px}
.infocenter_wraper .infolist_wraper .infolist .infolink:hover {background: #eee;}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_icon{width: 16px; height: 16px; margin-right: 18px; display: inline-block; vertical-align:middle}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_avatar{width: 22px; height: 22px; margin-right: 13px; display: inline-block; vertical-align:middle}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_tip{font-size: 12px; margin-right: 7px; display: inline-block; vertical-align: middle;}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_tip.color_blue{color:#3c5593}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_tip.color_red{color:#ba5353}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_tip.color_black{color:#333}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_tip.weight_bold{font-weight: bold}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_time{font-size: 12px; margin-right: 0; display: inline-block; float: right; color: #666;}
.infocenter_wraper .infolist_wraper .infolist .infolink .info_time em:first-child{margin-right: 5px;}
.infocenter_wraper .right_wraper{float: right; width: 368px;}
.infocenter_wraper .right_wraper .project_wraper{width: 100%; border: 1px solid #ccc}
.infocenter_wraper .right_wraper .project_wraper.ntop_border{border-top:none}
.infocenter_wraper .right_wraper .project_wraper ul{padding-bottom: 10px;}
.infocenter_wraper .right_wraper .project_wraper .projecthead{height: 53px; margin: 0 30px; line-height: 53px; font-size: 0}
.infocenter_wraper .right_wraper .project_wraper .projecthead .projectbar{width: 3px; height: 15px; background: #3c5492; display: inline-block; vertical-align: middle;}
.infocenter_wraper .right_wraper .project_wraper .projecthead .projecttitle{margin-left: 8px; display: inline-block; vertical-align: middle; font: bold 15px 'Microsoft YaHei'; color: #555;}
.infocenter_wraper .right_wraper .project_wraper .projectlist{margin: 0 30px 20px 30px;}
.infocenter_wraper .right_wraper .project_wraper .projectlist .projectlink{display: block; height: 54px;background: none;}
.infocenter_wraper .right_wraper .project_wraper .projectlist .projectlink:hover .tipone{color: #3c5593}
.infocenter_wraper .right_wraper .project_wraper .projectlist .projectlink .projectavatar:active{opacity: 0.8; filter:alpha(opacity=80);}
.infocenter_wraper .right_wraper .project_wraper .projectlist .projectlink .projectavatar{width: 50px; height: 54px; float: left;}
.infocenter_wraper .right_wraper .project_wraper .projectlist .projectlink .tipone{float: right; height: 35px; width: 220px; color: #555; font-size: 12px; margin-right: 20px;}
.infocenter_wraper .right_wraper .project_wraper .projectlist .projectlink .tiptwo{float: right; height: 19px; width: 220px; color: #555; font-size: 12px; margin-right: 20px;}
.infocenter_wraper .right_wraper .project_wraper .projectlist .projectlink .tiptwo em{font-size: 14px; color: #ff6a08; font-weight: bold; margin-right: 8px;}
.infocenter_wraper .right_wraper .interest_wraper {margin-top: 20px; border: 1px solid #ccc; width: 100%; background: #f6f6f6;}
.infocenter_wraper .right_wraper .interest_wraper .interesttitle {margin: 0 30px; line-height: 53px; height: 53px; font-size: 15px; font-weight: bold; font-family: 'Microsoft YaHei'; color: #555;}
.infocenter_wraper .right_wraper .interest_wraper ul {margin: 0 30px 16px 30px; font-size: 0}
.infocenter_wraper .right_wraper .interest_wraper .interestlist {display: inline-block; height: 48px; margin-left: 17px; margin-bottom: 14px;}
.infocenter_wraper .right_wraper .interest_wraper .interestlist.linefirst {margin-left: 0;}
.infocenter_wraper .right_wraper .interest_wraper .interestlist .interestavatar {width: 48px; height: 48px; border-radius: 3px; cursor: pointer;}
.infocenter_wraper .right_wraper .interest_wraper .interestlist .interestavatar:hover {opacity: 0.8; filter:alpha(opacity=80);}




