.leftnav_wraper{
    width: 168px;
    border:1px solid #ccc;
    border-bottom-color: #ddd;
}
.leftnav_small_wraper { width: 36px;}
.leftnav_icon { height: 30px;}
.leftnav_icon a{ display: block; height: 100%; background: url(../images/icon_leftnav_small.png) center center no-repeat;}
.leftnav_wraper .nav_title{
    font: bold 12px 'Microsoft YaHei';
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}
.leftnav_wraper li{
    line-height: 38px;
}
.leftnav_wraper .nav_link{
    display: inline-block;
    padding-left: 26px;
    margin-left: 10px;
    color: #555;
    height: 38px;
    width: 100%;
    cursor: pointer;
}
.leftnav_small_wraper .nav_link { text-indent: -9999px;}
.leftnav_wraper .nav_link.icon_invest{
    background: url(../images/icon_placeholder.png) no-repeat;
    background-position: center left;
}
.leftnav_wraper .nav_link.icon_talent{
    background: url(../images/icon_placeholder.png) no-repeat;
    background-position: center left;
}
.leftnav_wraper .nav_link.icon_star{
    background: url(../images/icon_placeholder.png) no-repeat;
    background-position: center left;
}
.leftnav_wraper .nav_link.icon_buss{
    background: url(../images/icon_placeholder.png) no-repeat;
    background-position: center left;
}
.leftnav_wraper .nav_link.icon_thk{
    background: url(../images/icon_placeholder.png) no-repeat;
    background-position: center left;
}
.leftnav_wraper .nav_link.icon_area{
    background: url(../images/icon_placeholder.png) no-repeat;
    background-position: center left;
}
.leftnav_wraper .devide{
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.leftnav_wraper .devide .nav_link{
    line-height: 36px;
    height: 36px;
}
.leftnav_wraper li:hover{
    background: #f0f0f0;
}