.login_wraper{
    padding: 20px 30px 0 30px;
    border:1px solid #aeaeae;
}
.login_wraper,.login_wraper .operate{
    display: inline-block;
}
.login_wraper .title,.login_wraper form .operate a,.login_wraper .tips a{
    color: #3262a2;
}
.login_wraper .title{
    font:bold 22px Microsoft YaHei;
    line-height: 30px;
}
.login_wraper .errorMsg{
    line-height: 23px;
    height: 23px;
    color: #ff2626;
    font-size: 12px;
}
.login_wraper .login_input{
    margin-bottom: 30px;
}
.login_wraper .login_input .rc{
    margin-left: 0;
}
.login_wraper .login_input .rc input{
    width: 320px;
}
.login_wraper .divide{
    border: none;
    border-top: 1px solid #e3e3e3;
    margin: 0;
    padding: 0;
    margin-top:30px;
    height:0; 
    overflow:hidden;
}
.login_wraper .tips{
    line-height: 50px;
    color: #555;
    font-size: 12px;
}

.login_wraper .tips a:hover{
	text-decoration:underline;	
}

.login_wraper .login_btn{
    float:left; 
    height:46px;
}
.login_wraper .forgetpwd{
    float:left; 
    font-size:12px; 
    line-height:43px; 
    margin-left:10px;
}

.login_wraper .forgetpwd:hover{
	text-decoration:underline;
}