/** 
 * 发布动态
 * auther:liyonggang;
 */
.posttrend_btn { position: fixed; right: 0; top: 46%; text-indent: -99999px; width: 82px; height: 52px;}
.posttrend_btn a { display: block; height: 100%; background: url(../images/bg_posttrend.png) no-repeat;}
.posttrend_btn a:hover { display: block; background-position: 0 -70px;}


.posttrend { width: 610px; border:1px solid #ccc; background: #fff }
.posttrend .pt-title { height: 35px; line-height: 35px; background: #f4f4f4}
.posttrend .pt-title .t { margin-left: 18px; font-family: "Microsoft Yahei"; color: #666; font-weight: 700}
.posttrend .pt-close { margin: 5px 5px 0 0; width: 20px; height: 20px; text-indent: -9999px; background: url(../images/icon_ptclosebtn.png) 5px 5px no-repeat;}
.posttrend .pt-close:hover { background-position:4px -28px; }
.posttrend .pt-content { padding:10px 18px 12px; }
.posttrend .pt-content textarea { display: block; width: 100%; height: 140px; padding: 3px 5px; border: 1px solid #e0e0e0; overflow-y:auto;  box-sizing:border-box;}
.posttrend  .pt-bar { height: 38px; background: #f5f5f5; border: 1px solid #e0e0e0; border-top: none}
.posttrend  .pt-bar .abtn  { float: left; border-right: 1px solid #e0e0e0; text-indent: -99999px; width: 44px; height: 38px; background-image: url(../images/icon_ptrend.png); background-repeat: no-repeat;}
.posttrend .pt-pic { background-position: 11px 9px }
.posttrend .pt-pic:hover,.posttrend .pt-pic.on { background-position: 11px -31px}
.posttrend .pt-video { background-position: -34px 9px; }
.posttrend .pt-video:hover,.posttrend .pt-video.on { background-position: -34px -31px}
.posttrend .pt-video-url { margin-top: 10px; display: none}
.posttrend .pt-video-url .video-url-text { width: 378px;}
.posttrend .pt-btnarea { padding: 0 18px; margin-bottom: 20px;}

.sblue-btn { display: inline-block; height: 35px; line-height: 35px; color: #fff; width: 115px; font-size: 14px; font-weight: 700; text-align: center; background: #4a64a3; border-radius: 4px; cursor: pointer; }
.sblue-btn.disable { background: #aaa; cursor: default;}
