@charset "utf-8";
/*
    发布更新 组件
    by刘煜
*/

.publishupdate {
    width: 589px;
    border: 1px solid #555555;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.5);
    margin: 50px auto;/*实际使用时应去除*/
}

.publishupdate .header {
    padding: 0 0 0 30px;
    height: 46px;
    border-bottom: 1px solid #cccccc;
    background: #f4f4f4;
}

.publishupdate .header h2 {
    float: left;
    color: #222222;
    font: bold 18px/46px "Microsoft YaHei",sans-serif;
}

.publishupdate .header a {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: url("../images/publishupdate_close.png") no-repeat;
}

.publishupdate .header a:hover {
    background: -40px url("../images/publishupdate_close.png") no-repeat;
}

.publishupdate .main {
    padding: 20px 30px 30px;
    background: #ffffff;
}

.publishupdate .content {
    background: #cccccc;
    height: 529px;
    width: 529px;
}