/**	
 * 注册样式
 * auther:liyonggang;
 */
.register-wrap { padding: 15px 30px; width: 800px; border: 1px solid #AEAEAE}
.register-wrap .row .rc input[type="text"],.row .rc input[type="password"]{ width: 330px;}
.register-wrap .reg-title { padding-bottom: 20px; margin-bottom: 30px; border-bottom: 1px solid #E5E5E5}
.register-wrap .reg-title h3 {font: bold 22px Microsoft YaHei; color: #3262a2}
.register-wrap .reg-title .reg-login { margin: 8px 0 0 0;}
.register-wrap .st { width: 132px!important;}
.register-wrap .formwrap { padding-left: 38px;}
.register-wrap .verify-code { margin-left: 10px; border: 1px solid #999; height: 35px; vertical-align: middle; cursor: pointer;}
.register-wrap .change-code { margin-left: 10px; display: inline-block; vertical-align: middle; font-size: 12px; letter-spacing: normal; line-height: 37px;}

.passwordStrength{ margin-top: 7px; font-size: 12px; color: #888; letter-spacing: normal;}
.passwordStrength b{font-weight:normal;}
.passwordStrength b,.passwordStrength span{	display:inline-block; vertical-align:middle;line-height:19px;	line-height:20px\9;	height:19px;}
.passwordStrength span{	width:109px; text-align:center; background-color:#e5e5e5; border-right:2px solid #fff}
.passwordStrength .last{ border-right:none;}
.passwordStrength .bgStrength1{ color:#fff; background-color:#ea9291;}
.passwordStrength .bgStrength2{ color:#fff; background-color:#e4bf57;}
.passwordStrength .bgStrength3{ color:#fff; background-color:#5aac46;}

.check_agreement {margin-left: 80px; margin-bottom: 30px;}
.check_agreement input {vertical-align: middle;}
.check_agreement label {font-size: 12px;}