.regsucc_wraper{
    border: 1px solid #aeaeae;
    padding: 50px 30px 30px 30px;
}
.regsucc_wraper{
    display: inline-block;
}
.regsucc_wraper .tips_one, .regsucc_wraper .tips_two, .regsucc_wraper .tips_three{
    padding-left: 60px;
}
.regsucc_wraper .tips_one{
    background: url(../images/icon_right.png) no-repeat;
}
.regsucc_wraper .tips_one .info{
    font: bold 22px Microsoft YaHei;
    line-height: 31px;
    color: #222;
}
.regsucc_wraper .tips_one .ccz_num{
    font: bold 16px Microsoft YaHei;
    line-height: 19px;
    color: #0a528d;
}
.regsucc_wraper .tips_two p{
    color: #777;
    font-size: 12px;
    line-height: 21px;
}
.regsucc_wraper .tips_two p span{
    margin-left: 7px;
    color: #e64440;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.regsucc_wraper .tips_two .activ_btn{
    height: 43px;
    overflow: hidden;
    display: block;
}
.regsucc_wraper .divide{
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px #e3e3e3 solid;
    height: 0;
}
.regsucc_wraper .tips_three p{
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
}
.regsucc_wraper .tips_three ul{
    list-style-image: url(../images/squre_list_style.png);
    list-style-position: inside;
    white-space: nowrap;
    font-size: 12px;
    line-height: 12px;
    color: #444;
}
.regsucc_wraper .tips_three ul li:first-child{
    margin-bottom: 5px;
}
.regsucc_wraper .tips_three ul li a{
    color:#3664a5;
}

.regsucc_wraper .tips_three ul li a:hover{
	text-decoration:underline;
}