@charset "utf-8";
/*
    搜索列表 组件
    by刘煜
*/

.search_result {
    width: 625px;
    border: 1px solid #ddd;
}

.search_result h4 {
    padding: 0 20px;
    background: #f6f6f6;
    font: bold 12px/31px "Microsoft YaHei",sans-serif;
    color: #0d61b0;
}

.search_result li {
    transition: background .15s ease-out;
    -webkit-transition: background .15s ease-out;
    -moz-transition: background .15s ease-out;
    -ms-transition: background .15s ease-out;
}

.search_result li:hover{
    background: #e5f0f9;
}

.search_result .users li a {
    padding: 16px 20px;
    display: block;
    width: 585px;
    height: 32px;
}

.search_result .games_exchange a, .areas a {
    padding: 10px 20px 10px 44px;
    display: block;
    width: 561px;
    height: 16px;
    font: normal 12px/16px SimSun,serif;
    color: #444;
}

.search_result .games_exchange a.games, .areas a.games {
    background: 20px 10px url("../images/icon_placeholder.png") no-repeat;
}

.search_result a.more {
    display: inline-block;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ddd;
    font: normal 12px/30px SimSun,serif;
    color: #444;
    cursor: pointer;
    background: 0 0 url("../images/btn_search_list_more.png") repeat-x;
    transition: color .3s ease-out, background .08s linear;
    -webkit-transition: color .3s ease-out, background .08s linear;
    -moz-transition: color .3s ease-out, background .08s linear;
    -ms-transition: color .3s ease-out, background .08s linear;
}

.search_result a.more:hover {
    color: #0d61b0;
}

.search_result a.more:active {
    color: #0d61b0;
    background-position: 0 -35px;
}

/*用户头像及信息 开始*/
.search_result .users .ava_img{
    width: 32px;
    height: 32px;
    border-radius: 3px;
}
.search_result .users .tips{
    margin-left: 8px;
    height: 32px;
    width: 120px;
}
.search_result .users .tips .tipone{
    height: 17px;
    margin-bottom: 1px;
    font-size: 0
}
.search_result .users .tips .tipone .name{
    font:normal 12px SimSun,serif;
    color: #787878;
    line-height: 14px;
    vertical-align: middle;
}
.search_result .users .tips .tipone .level{
    margin-left: 8px;
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
}
.search_result .users .tips .tipone .level .icon{
    background: url(../images/icon_level.png);
    width: 26px;
    height: 7px;
}
.search_result .users .tips .tipone .level .bar{
    width: 26px;
    height: 2px;
    background: #c4c4c4;
    margin-top: 1px;
}
.search_result .users .tips .tipone .level .bar .process{
    height: 2px;
    background: #6baa5a
}
.search_result .users .tips .tiptwo{
    height: 14px;
}
.search_result .users .tips .tiptwo .tip_icon{
    width: 14px;
    height: 14px;
}
.search_result .users .tips .tiptwo .ccznum{
    font-size: 12px;
    color: #bbb;
    margin-left: 8px;
    display: block;
    height: 14px;
}
.search_result .users .drop{
    height: 32px;
    width: 9px;
    line-height: 32px;
}
.search_result .users .drop .drop_icon{
    width: 9px;
    height: 6px;
    background: url(../images/icon_dropdown.png);
    display: inline-block;
    vertical-align: middle;
}
/*用户头像及信息 结束*/