@charset "utf-8";
/*
    搜索站内站外专家 组件
    by刘煜
*/


.search_judges {
    background: #ffffff;
}

.search_judges_nav {
    margin-bottom: 80px;
}

.search_judges_nav ul {
    border-bottom: 1px solid #cccccc;
}

.search_judges_nav li {
    float: left;
    margin-bottom: -1px;
    margin-right: 29px;
    padding: 15px 12px;
    font: normal 18px/27px "Microsoft YaHei",serif;
    color: #666;
    cursor: pointer;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
}

.search_judges_nav li.focus, .search_judges_nav li:hover {
    padding-bottom: 12px;
    color: #222;
    border-bottom: 3px solid #3666b4;
}

.search_bar {
    width: 586px;
    height: 39px;
    border: 2px solid #4b7bbb;
    border-right: none;
    position: relative;
    margin: 0 auto 110px;
}

.search_bar input {
    border: none;
    width: 510px;
    box-shadow: none;
}

.search_bar a {
    position: absolute;
    width: 69px;
    height: 43px;
    line-height: 43px;
    right: -2px;
    top: -2px;
    background: url(../images/search_input.png) no-repeat;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.search_bar a:hover {
    background-position: 0 -50px;
}

.selected {
    margin-bottom: 30px;
}

.selected h4, .selecting h4 {
    margin-bottom: 10px;
    font: bold 14px/21px SimSun,serif;
}

.selected li, .selecting li {
    position: relative;
    float: left;
    margin: 0 8px 8px 0;
    width: 206px;
    background: #e8e6e6;
    transition: background .2s ease-out;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -ms-transition: background .2s ease-out;
}

.selected li:hover, .selecting li:hover {
    background: #d6d6d6;
}

.selected .in_station_experts li, .selecting .in_station_experts li {
    padding: 19px 14px 19px 10px;
    height: 42px;
    width: 182px;
}

.selected .in_station_experts img.avatar, .selecting .in_station_experts img.avatar{
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.selected .in_station_experts .info, .selecting .in_station_experts .info {
    float: left;
    height: 42px;
    width: 130px;
}

.selected p, .selecting p {
    display: block;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 84px;
    font: normal 14px/21px SimSun,serif;
}

.selected .in_station_experts p {
    height: 21px;
}

.selected .out_station_experts p {
    height: 41px;
}

.selected .in_station_experts .info img.level, .selecting .in_station_experts .info img.level {
    float: left;
    padding: 7px 0 4px 10px;
    width: 30px;
    height: 10px;
}

.selected .in_station_experts .info img.big-v, .selecting .in_station_experts .info img.big-v {
    margin-top: 5px;
}

.selected .out_station_experts li, .selecting .out_station_experts li {
    height: 41px;
}

.selected .out_station_experts p, .selecting .out_station_experts p {
    padding-left: 10px;
    line-height: 41px;
    max-width: 186px;
}

.selected a, .selecting a {
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    width: 15px;
    height: 15px;
    background: #767373;
    cursor: pointer;
    transition: background .2s ease-out;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -ms-transition: background .2s ease-out;
}

.selected a:hover, .selecting a:hover {
    background: #b20000;
}

.selected .aaa, .selecting .aaa {
    position: absolute;
    top: 7px;
    left: 3px;
    width: 9px;
    height: 1px;
    background: #fff;
}

.selected .bbb, .selecting .bbb {
    position: absolute;
    top: 3px;
    left: 7px;
    width: 1px;
    height: 9px;
    background: #fff;
}

.selected .close .cross, .selecting .close .cross {
    position: relative;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.selected .close .aaa {
    width: 13px;
    left: 1px;
}

.selected .close .bbb {
    height: 13px;
    top: 1px;
}