@charset "utf-8";
/*下拉菜单 组件*/
/*by姚晴*/
.desDropDownMenu{word-break:break-all; font-size:12px; margin-left:20px;}
.desDropDownMenu label{float:left; height:37px; line-height:37px; font-size:14px; color:#222222; margin-right:10px;}
.desDropDownMenu .des{float:left; height:37px; line-height:37px; font-size:14px; color:#222222; margin-left:10px;}
.dropDownMenu .txt{max-height:23px; overflow:hidden; color:#666666; line-height:23px;}
.dropDownMenu.w187{ width:187px;}

.dropDownMenuInput{border:1px solid #999999; position:relative; cursor:pointer; background:#FFF; box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset;}
.dropDownMenuInput .promptInfo{display:block; margin:0 27px 0 10px; overflow:hidden; height:35px; font-size:14px; color:#444444; line-height:35px;}
.dropDownMenuInput .dropDownBtn{position:absolute; background:url(../images/drop_menu_btn.png) no-repeat; width:7px; height:5px; top:14px; right:10px;}
.dropDownMenuInput .dropDownBtn.focus{ background-position:-10px;}
.dropDownMenuInput .dropDownList{ position:absolute; top:35px; border:1px solid #999999; left:-1px; width:100%; background:#FFF; padding:1px 0; display:none; z-index:99999; max-height:154px; overflow:auto;}
.dropDownMenuInput .dropDownList li{ height:30px; line-height:30px; color:#555555; padding-left:9px; margin-left:1px; overflow:hidden; word-wrap:break-word;}
.dropDownMenuInput .dropDownList li:hover{ background:#4b9808; color:#FFF;}
.dropDownMenuInput select{display:none;}