@charset "utf-8";
/*
    侧边工具按钮 组件
    by刘煜
*/
.side_tools {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 999;
    width: 50px;
}

.side_tools a {
    display: block;
    width: 50px;
    background: url("../images/side_tools.png") no-repeat;
}

.side_tools a#go_top {
    margin-bottom: 2px;
    height: 57px;
    background-position: 0 0;
    cursor: pointer;
}

.side_tools a#go_top:hover {
    background-position: -60px 0;
}

.side_tools a.feedback {
    height: 83px;
    background-position: 0 -59px;
    cursor: pointer;
}

.side_tools a.feedback:hover {
    background-position: -60px -59px;
}