.tabs_wraper .tabs_step{
    display: inline-block;
    position: relative;
    width: 850px;
}
.tabs_wraper .tabs_step .hor_line{
    height: 4px;
    width: 100%;
    background: #bcbcbc;
    position: absolute;
    z-index: -1;
    top: 50%;
}
.tabs_wraper .tabs_step .hor_inline{
    height: 4px;
    background: #477eca;
}
.tabs_wraper .tabs_step .last{
    margin-right: 54px;
}
.tabs_wraper .tabs_step .first{
    margin-left: 54px
}
.tabs_wraper .tabs_step ul li{
    width: 60px;
    height: 50px;
    float:left;
    text-align: center;
    background: #fff;
    margin: 0 auto;
}
.tabs_wraper .tabs_step .circle{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    font-family: tahoma;
    background: #bcbcbc;
}
.tabs_wraper .tabs_step .tips{
    width: 160px;
    display:inline-block;
    line-height: 12px;
    text-align: center;
    margin-left: -50px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #bcbcbc;
}
.tabs_wraper .tabs_step .focustab .circle{
    background: #477eca;
}
.tabs_wraper .tabs_step .focustab .tips{
    color: #477eca;
}
