@charset "utf-8";
/*
    图片上传 样式
    by刘煜
*/
.uploaded {
    margin-top: 20px;
}

.uploaded li {
    float: left;
    margin: 0 11px 11px 0;
    padding: 4px;
    width: 190px;
    height: 204px;
    border: 1px solid #b4b4b4;
}

.uploaded .container {
    position: relative;
    width: 190px;
    height: 204px;
    overflow: hidden;
}

.uploaded .container img {
    height: 204px;
}

.uploaded .container a {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: block;
    text-align: center;
    width: 39px;
    height: 27px;
    color: #fff;
    font: normal 12px/27px SimSun, serif;
    background: rgba(0,0,0,0.7);
    border-radius: 3px;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
}

.uploaded .container a:hover {
    text-decoration: none;
    background: rgba(153,0,0,0.8);
}