/** 
 * 上传组件样式
 * auther:liyonggang;
 */
.upload-files { position: relative;}
.upload-files .miss-files-msg { position: absolute; padding:8px 10px; background: rgba(0, 0, 0, 0.4); border-radius: 5px; font-size: 12px!important; color: #fff; max-width: 250px; line-height: 1.8; z-index: 10}
.file_uploadbox-single, .file_uploadbox-more { visibility: hidden; display: none }
.updateImgLoadDiv .uploadloadwrap{  width: 200px; height: 190px; background: #eee; position: relative; }
.updateImgLoadDiv { padding:4px; margin: 10px 10px 0 0; width: 200px; height: 190px; border: 1px solid #b4b4b4;}
.updateImgLoadDiv .close {position: absolute; width: 10px; height: 10px; background: url(../images/x.png); top: 10px; right: 10px;}
.updateImgLoadDiv .updateImgLoad {position: absolute; top: 70px; left: 35px;}
.updateImgLoadDiv .updateImgLoad .sc {color: #3b86c4; font-weight: bold;}
.updateImgLoadDiv .updateImgLoad .scName { font-size: 14px; margin-left: 22px; color: #5f5f5f}
.updateImgLoadDiv .updateImgLoad .processDiv { width: 120px; height: 10px; margin-top: 10px;position: relative;}
.updateImgLoadDiv .updateImgLoad .processDiv .opacityBorder { height: 10px; opacity: 0.5; width: 100%; position: absolute;}
.updateImgLoadDiv .updateImgLoad .processDiv .process { height: 10px; background: #5DA4D6; position: absolute;}
.updateImgLoadDiv .updateImgLoad .processDiv .process span { position: absolute; width: 40px; height: 26px; text-align: center; background: url(../images/sk.png) no-repeat; top: -13px; right: -20px; color: #5f5f5f; line-height: 20px;}
.updateSucImg { position: relative; padding: 4px; background: #fff; border: 1px solid #b4b4b4; width: 200px; height: 190px; overflow: hidden; margin-top: 10px; margin-right: 10px; float:left;}
.updateSucImg img { width: 100%; vertical-align: middle;    /*height:100%;*/}
.updateSucImg .imgwrap { width: 200px; height: 190px; overflow: hidden;}
.updateSucImg .imgwrap p { width: 200px; height: 190px; overflow: hidden; display:table-cell; vertical-align: middle; }
.updateSucImg .close { position: absolute; text-align: center; width: 39px; height: 27px; color: #fff; font: normal 12px/27px SimSun, serif; border-radius: 3px; background: rgba(0,0,0,0.5); right: 8px; bottom: 8px;}
.updateSucImg .close:hover { background: rgba(153,0,0,0.5);}